.header-panel {
background-color: #2E4057;
min-height: 144px;
position: relative;
z-index: 3;
}
.body {
 background-color: #bbbbbb; 
 font-family: "Helvetica", Arial;
}
.main-container {
  max-width: 100% !important;
  margin: auto;
}