.header-panel {
background-color: #F93943;
min-height: 144px;
position: relative;
z-index: 3;
}

.body {
 background-color: #bbbbbb; 
 font-family: "Helvetica", Arial;
}

.main-container {
  max-width: 100% !important;
  margin: auto;
}

svg {
    width: 100%;
    height: auto;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li.active>a,     .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
   background-color: #F93943;
 }  
 
.nav-pills>li>a {
    color: #f97f85;
 }
 
.nav-pills > li:nth-of-type(2)>a {
    color: #f97f85;
 }
 
 h1, h2 {
   font-weight: bold;
 }
 
.col-xs-10{
    max-width:1350px;
}

.pages .page img.image-thumb {
    max-width: 600px;
}